<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Failure</title>
  </head>
  <body>
    <h1>Login Failure</h1>
    <ul>
      <li><a href="/login">Try Again</a></li>
    </ul>
  </body>
</html>
