<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload File</title>
  </head>
  <body>
    <h1>Upload File</h1>
    <form
      action="/<%=folderId%>/upload-file"
      method="post"
      enctype="multipart/form-data"
    >
      <label for="file_name">File Name</label>
      <input type="text" id="file_name" name="file_name" />
      <input type="file" name="file_data" id="file_data" />
      <button type="submit">Upload File</button>
    </form>
  </body>
</html>
